.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.input {
  width: 50%;
  height: 50px;
  font-size: 1.3rem;
  padding: 0 15px;
  border: none;
  border-radius: 5px;
}
